.breadcrumb {

    ul {
        text-align: start;
    }

    li {

        text-align: start;
        display: inline-block;
        font-weight: 500;
        text-transform: capitalize;
        
        & + li:before {
            content: "\00a0>\00a0";
            font-weight: 400;
            color: var(--color-dark);
        }

        &:first-of-type::before {
            content: "🏠";
        }

    }

}