.button-icon {
    
    position: relative;
    background-color: white;
    border-radius: 100%;
    width: 36px !important;
    height: 36px !important;
    border: transparent;
    padding: 0;
    box-shadow: 0px 0px 12px 4px #e8e8e8;
    transition: all 0.1s ease;

    &:hover {
        background-color: var(--color-shadow);
        box-shadow: none;
    }

    &:active {
        background-color: var(--color-shadow);
        box-shadow: 0px 0px 12px 4px #e8e8e8;
        scale: 115%;
    }

    &::before {
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        right: 0;
        text-align: center;
        margin: auto;
        width: fit-content;
        height: fit-content;
    }

}
