:root {
    --color-gray: #cac0be;
    --color-light-gray: #F5F5F5;
    --color-dark-gray: #7e7f80;
    --color-shadow: rgba(34, 37, 41, 0.06);
    --color-dark: #23262A;
    --color-white: #FFFFFF;
    --color-red: #FF7373;
    --max-content-width: 1683px;
    --max-content-width2: 1110px;
    --max-content-width3: 1395px;
    --nav-height: 100px;
    --footer-height: 110px;
}
