input[type="radio"].toggle {

    //Hide radio button (we use the label the trigger the radio button)
    display: none;
    
    & + label {
        background-color: #FFFFFF;
        width: 40px;
        height: 40px;
        border: 1px solid black;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 6px 9px 7px 8px;
        cursor: pointer;
        transition: all 0.1s ease;
    }

    &:checked + label {
        background-color: lightgray;
    }

}